@import "tailwindcss";
@import "./Button.css";
@import "./StatusBar.css";
@import "./text.css";
@import "./utils.css";

:root {
  --background: #fafafa;
}

@theme inline {
  --color-white: #ffffff;
  --color-stroke: #0000001a;
  --color-off-white: #fafafa;
  --color-black: #000000;
  --color-green: #00703a;
  --color-white-op: rgba(255, 255, 255, 0.7);

  --spacing-logo: 24px;
  --spacing-logo-desktop: 40px;

  --spacing-xxs: 8px;
  --spacing-xs: 10px;
  --spacing-sm: 12px;
  --spacing-md: 16px;
  --spacing-lg: 20px;
  --spacing-xl: 24px;
  --spacing-xxl: 32px;
  --spacing-xxxl: 40px;

  --radius-sm: 8px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: var(--background);
  color: black;
  font-family: "SF Pro", sans-serif;
  max-width: 1440px;
  margin: auto;
}

button {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cacaca;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
